# Copy this structure to your .env file and replace it with your own credentials.

DATABASE_URL=postgresql://user:password@host.neon.tech/dbname
RIOT_API_KEY=RGAPI-your-key-here
GAME_NAME=YourSummonerName
TAG_LINE=YourSummonerTag
REGION=br1
ROUTING=americas